#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake
	
override_dh_auto_configure:
	dh_auto_configure -O--buildsystem=cmake -- -DCMAKE_BUILD_TYPE=Release -DGENERATE_SRS_SECRET=OFF -DCHROOT_DIR=/var/lib/postsrsd -DUSE_APPARMOR=ON -DSYSD_UNIT_DIR=/lib/systemd/system -DINIT_FLAVOR=upstart

override_dh_installinit:
	dh_installinit -o

UPSTREAM_VERSION=$(shell dpkg-parsechangelog | grep Version: | cut -d' ' -f2 | cut -d- -f1 )
BASE_REVISION=$(shell git merge-base ppa master )

create-orig-tar:
	git archive --prefix=postsrsd-${UPSTREAM_VERSION}/ -o ../postsrsd_$(UPSTREAM_VERSION).orig.tar.gz $(BASE_REVISION)

